<div ng-init="getResources()">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" ng-repeat="resource in resources | filter:resourceList.search | orderBy: Title">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{resource.title}}</h3>
                    </div>
                    <div class="panel-body">
                        <p class="desc">{{resource.description}}</p>
                        <a class="btn btn primary" href="#!/resources/details/{{resource._id}}" target="_blank">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>