body {
  padding-top: 50px;
  padding-bottom: 30px;
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 500;
	src: url(../fonts/averta-regular-webfont.woff);
}

body{
    font-family: 'Averta', sans-serif !important;
}



